# https://c3pb.de/blog/keepassxc-secrets-service.html
export SIGNING_STORE_PASSWORD="$(secret-tool lookup FROTTAGE_ANDROID_KEYSTORE_PASSWORD password)"
export SIGNING_KEY_PASSWORD="$(secret-tool lookup FROTTAGE_ANDROID_KEYSTORE_PASSWORD password)"
export KEYSTORE_BASE64="$(secret-tool lookup FROTTAGE_ANDROID_KEYSTORE_BASE64 password)"
export PLAY_SERVICE_ACCOUNT_JSON="$(secret-tool lookup FROTTAGE_ANDROID_PLAY_SERVICE_ACCOUNT_JSON password)"

# vim: set ft=sh :
