*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/app/build/generated/
/app/build/
kls_database.db
/keys
/.envrc.local
/fastlane/report.xml
/gradle/wrapper/gradle-wrapper.jar
